<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    button, input{
    padding:3px}
</style>
<body>
<h1>Aggingi un nuovo paziente</h1>

<form action="addPatient" method="post">
    Nome : <input id="firstname_input" type="text" name="firstname"><br><br>
    Cognome : <input id="lastname_input" type="text" name="lastname"><br><br>
    Peso : <input id="weight_input" type="number" name="weight"> Kg<br><br>
    Altezza : <input id="height_input" type="number" name="height"> cm<br><br>
    Data di nascita : <input id="birthdate_input" type="date" name="birthdate"><br><br>
    Sesso : <input id="sex_input" type="text" name="sex"><br><br>
    Numero telefono : <input id="phonenumber_input" type="text" name="phonenumber"><br><br>
    E-mail : <input id="email_input" type="text" name="email"><br><br>
    Indirizzo : <input id="address_input" type="text" name="address"><br><br>
    Allergie : <input id="allergies_input" type="text" name="allergies"><br><br>
    Codice Fiscale : <input id="cf_input" type="text" name="cf"><br><br>
    <input id="submitbutton_input" type="submit"/>
    <a id="cancelbutton_input" href="redirect:/home"><button>Cancel</button></a>
</form>


</body>
</html>