<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    button, input{
    padding:3px}
</style>
<body>
<h1>Create a new record</h1>

<form action="addPatient" method="post">
    Nome : <input type="text" name="firstname"><br><br>
    Cognome : <input type="text" name="lastname"><br><br>
    Peso : <input type="text" name="weight"><br><br>
    Altezza : <input type="text" name="height"><br><br>
    Età : <input type="text" name="age"><br><br>
    Data di nascita : <input type="text" name="birthdate"><br><br>
    Sesso : <input type="text" name="sex"><br><br>
    Numero telefono : <input type="text" name="phonenumber"><br><br>
    E-mail : <input type="text" name="email"><br><br>
    Indirizzo : <input type="text" name="address"><br><br>
    Allergie : <input type="text" name="allergies"><br><br>
    Codice Fiscale : <input type="text" name="cf"><br><br>
    <input id="cancelbutton" type="submit"/>
    <a><button>Cancel</button></a>
</form>



</body>
</html>