<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div>
    <div>Nome paziente: <span th:text="${name}">[nome]</span></div><br><br>
</div>

<div>
    <table class="table" id="evaluations_table">
        <thead>
        <tr>
            <th>
                Medicina
            </th>
            <th>
                Quantità
            </th>
            <th>
                Note
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="prescr: ${prescriptions}">
            <td th:text="${prescr.drugs}"> <b>01/01/2024 </b></td>
            <td th:text="${prescr.quantity}"> 10 </td>
            <td th:text="${prescr.notes}"> <b>note </b></td>
        </tr>
        </tbody>
    </table>
</div>

<form th:action="addPrescription/${idPatient}" method="post">
    Medicina : <input id="boxdrug" type="text" name="drug"><br><br>
    Quantità : <input id="boxquantity" type="text" name="quantity"><br><br>
    Nota : <input id="boxnote" type="text" name="note"><br><br>
    <input id="submitbutton" type="submit" />
    <a id="cancelbutton" th:href="/patient/${idPatient}">
        <button>Cancel</button>
    </a>
</form>

</body>
</html>
