<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div>
    <br><br>
    <h3>Nome paziente: <span th:text="${name}">[nome]</span></h3><br><br>
</div>

<form th:action="'/patient/'+${idPatient}+'/addPrescription'" method="post">
    Medicina : <input id="boxdrug" type="text" name="drug"><br><br>
    Quantità : <input id="boxquantity" type="number" name="quantity"> mg<br><br>
    Nota : <input id="boxnote" type="text" name="note"><br><br>
    <input id="submitbutton" type="submit" />
    <a id="cancelbutton" th:href="'/patient/'+${idPatient}">
        <button>Cancel</button>
    </a>
</form>

</body>
</html>
